.bg-prim{
	
	background: #009688 !important;
}

.banner{
	width:100%;
	height: 96vh;
	background : url(../images/contact2.jpg);
	background-size: cover;
	color: white;
	
}
.my-card{
	background: #ffffff;
	padding: 20px;
}
body{
	background: #e2e2e2;
}