<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
   
    <!-- -------------custome css and js start----------- --> 
      <link rel="stylesheet" href="" th:href="@{/css/style.css}" /> 
      <script src="" href="" th:href="@{/js/script.js}"></script>
      <script type="text/javascript">
      function toggleSidebar() {
    		
    		if($(".sidebar").is(":visible")){
    			$(".sidebar").css("display","none");
    			$(".content").css("margin-left","0%");
    		}
    		else{
    			$(".sidebar").css("display","block");
    			$(".content").css("margin-left","19%");
    		}
    	}
      </script>
    <!-- -------------custome css and js end----------- --> 

     <!-- -------------icons start----------- --> 
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     <!-- -------------icons end----------- --> 
    <title th:text="${title}">Base page !!</title>
  </head>
  <body>
   
    <!-- ------------------------navbar - start------------------------------ -->

	<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-prim">
		<div class="container-fluid">
		    <img style="width: 50px;" src="" alt="register-icon" th:src="@{/images/contacts.png}" />&nbsp;&nbsp;
			<a class="navbar-brand" href="#"> SmartContactManager</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse text-uppercase" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" >Welcome &nbsp;<u><b><span style="color: white" th:text="${user.userName}"></span></b></u></a></li> 
				
				    
				    <li class="nav-item"><a class="nav-link active"
						aria-current="page" href="/logout">| &nbsp;&nbsp;<b><i class="fas fa-power-off"></i></b></a></li>		
				</ul>

			</div>
	</nav>

	<!-- -----------------------------navbar - end-------------------------------- -->
	
	   <!-- -----------------------------sidebar - start-------------------------------- -->
	        
	        <div class="sidebar mt-3">
	        
	        <span onclick="toggleSidebar()" class="crossBtn">&times;</span>
	           <a href="#" class="index"><i class="fas fa-house-user"></i>&nbsp Home</a>
	           <a href="#" class="index"><i class="fas fa-user-circle"></i>&nbsp Your Profile</a>
	           <a href="#" th:href="@{/show-contact/0}" class="index"><i class="fas fa-address-card"></i>&nbsp View Contact</a>
	           <a href="#" th:href="@{/addContact}" class="index"><i class="fas fa-pen-fancy"></i>&nbsp Add Contact</a>
	           <a href="#" class="index"><i class="fas fa-cogs"></i>&nbsp Settings</a>
	           <a href="#" th:href="@{/logout}" class="index"><i class="fas fa-sign-out-alt"></i>&nbsp Logout</a>
	        
	           <div class="divider"></div>
	        </div>
	        
	
	    <!-- -----------------------------sidebar - end-------------------------------- -->
	
    <!-- --------------------Right part start here------------------------ -->
    
    <div class="content mt-5">
      <i onclick="toggleSidebar()" class="fas fa-bars m-3 cusbar"></i>
      <div th:replace="${content}"></div>
   </div>

    <!-- --------------------Right part end here------------------------ -->
   

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

  </body>
</html>